body.home header {
    background: linear-gradient(to bottom right, rgba(199, 233, 250, .5), white);
}

.entry-content h2 {
    font-weight: 800;
    color: var(--primary-color);
}

.sjwc2018-row {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
